<div class="row">
  <div class="col-xs-12">
    <img [src]="receta.rutaImagen"
         alt="{{receta.nombre}}}"
         class="img-responsive"
         style="max-height: 200px;">
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{receta.nombre}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group"
           appDropdown
      >
        <button
          class="btn btn-primary dropdown-toggle" type="button">
          Manejar receta
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="alAgregarCompra()" style="cursor: pointer;">Lista de compras</a></li>
          <li><a href="#">Editar recetar</a></li>
          <li><a href="#">Eliminar receta</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{receta.descripcion}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let ingrediente of receta.ingredientes"
      >{{ingrediente.nombre}} ({{ingrediente.cantidad}})
      </li>
    </ul>
  </div>
</div>

